<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Admin Login</title>
</head>
<body style="background-image: url('{{ url_for('static', filename='pageimages/background.png') }}');">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                {% endfor %}
            </div>
            <script>
                window.setTimeout(function() {
                    var alerts = document.querySelectorAll('.alert');
                    alerts.forEach(function(alert) {
                        alert.style.display = 'none';
                    });
                }, 5000);
            </script>
        {% endif %}
    {% endwith %}

    <form id="loginForm" action="{{ url_for('admin_login') }}" method="post">
        <center><h1>Admin Login</h1></center>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
        <a href="/login">Login as a user</a>
        <a style="text-decoration: none; color: black;">Admins can only be registered by other admins!</a>
    </form>
    
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
