<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body  >

    <header>
        <nav>
            <ul>
                <li><a href="/#home"><i class="fa-solid fa-house" style="margin-right: 5px;"></i>Home</a></li>
                <li><a href="/#explore"><i class="fa-solid fa-book-open"style="margin-right: 5px;"></i>Explore Library</a></li>
                <li><a href="/#contribute"><i class="fa-solid fa-book-bookmark"style="margin-right: 5px;"></i>Contribute</a></li>
                <li><a href="/#about"><i class="fa-solid fa-circle-info"style="margin-right: 5px;"></i>About Us</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"style="margin-right: 5px;"></i>Logout</a></li>
                {% else %}
                    <li><a href="/login"><i class="fa-solid fa-user"style="margin-right: 5px;"></i>Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endfor %}
        </div>
        <script>
            window.setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 5000);
        </script>
    {% endif %}
    {% endwith %}

    <main style="background-image: url('{{ url_for('static', filename='pageimages/background.png') }}');">
        <main>
            <section id="home" class="intro-section" style="background-image: url('{{ url_for('static', filename='pageimages/header-bg.png') }}');">
                <div class="overlay"></div>
                <div class="section-content">
                    <h1>Welcome to Our Library</h1>
                    <p>Welcome to the Flagstaff City-Coconino County Public Library, a cornerstone for community knowledge and learning. Our extensive library offers a refuge for readers, thinkers, and students alike. Whether you're seeking to explore new ideas, find a quiet study space, or join one of our community events, our doors are open for you.</p>
                </div>
            </section>
            
            <section id="explore" class="explore-section" style="background-image: url('{{ url_for('static', filename='pageimages/explore-bg.png') }}');">
                <div class="section-content">
                    <h2>Explore the Library</h2>
                    <p>Our library boasts an extensive collection of books. From classic literature to the latest bestsellers, our shelves are home to an ever-growing world of knowledge. Immerse yourself in our archives or connect with fellow book lovers at our reading clubs.</p>
                    <br>
                    <a class="explore-btn" href="{{ url_for('explore') }}"> Click here to explore.</a>
                </div>
            </section>
    
            <section id="contribute" class="contribute-section" style="background-image: url('{{ url_for('static', filename='pageimages/contribute-bg.png') }}');">
                <div class="section-content">
                    <h2>Contribute to Our Collection</h2>
                    <p>Your contributions help our library thrive. Donate your books, contribute to our digital repository, or volunteer at the library to support our mission. Join our network of patrons who believe in the power of sharing knowledge.</p>
                </div>
            </section>
    
            <section id="about" class="about-section" style="background-image: url('{{ url_for('static', filename='pageimages/aboutus-bg.png') }}');">
                <div class="section-content">
                    <h2>About Us</h2>
                    <p>Get to know our team of dedicated librarians, staff members, and volunteers who are passionate about bringing a diverse range of programs and services to our community. Our library is more than just a place to borrow books—it's a space where culture and community come together.</p>
                </div>
            </section>
        </main>
    
    </main>
    <footer>
        <p>&copy; 2023 Flagstaff City-Coconino County Public Library</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
